.RedGreenBlueYellowNumbers {
  background: #000;
  display: flex;
  flex-direction: column;
  height: 100%;

  > .content {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;

    > .header {
      padding: 35px 15px;

      > .logo {
        margin-bottom: 5px;
        font-size: 35px;
      }
    }

    > .body {
      flex: 1;
    }
  }
}
