<div local-class="ColouredBars {{if @reverse "reverse"}}">
  <div local-class="red"></div>
  <div local-class="green"></div>
  <div local-class="blue"></div>
  <div local-class="yellow"></div>
</div>
