<div local-class="RouteCreate">
  <form {{on "submit" this.handleSubmit}}>
    <input placeholder="Name" type="text" {{on "keyup" this.handleNameKeyup}}>
    <button type="submit">Submit</button>
  </form>
</div>
