<div local-class="RouteJoin">
  <form {{on "submit" this.handleSubmit}}>
    <input placeholder="ID" type="text" {{on "keyup" this.handleIdKeyup}}>
    <input placeholder="Name" type="text" {{on "keyup" this.handleNameKeyup}}>
    <button type="submit">Submit</button>
  </form>
</div>
